
  <div class="container col-md-6 mt-5">

  <form #postForm="ngForm"  (ngSubmit)="onSubmit(postForm.value)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      required
      ngModel
      placeholder="Enter Name"

      >

    </div>
    <div class="form-group">
      <label for="age">age</label>
      <input
      type="number"
      class="form-control"
      id="age"
      name="age"
      required
      ngModel
      placeholder="Enter age"
      >
    </div>
    <div class="form-group">
      <label for="score">score</label>
      <input
      type="number"
      class="form-control"
      id="score"
      name="score"
      required
      ngModel
      placeholder="score"
      >
    </div>


    <button type="submit"
    class="btn btn-primary mt-4"
    [disabled]="!postForm.valid">add user</button>
  </form>
  <button
  class="btn btn-primary mt-4"  (click)="fetchUser()">fetch  users</button>
  <div class="" *ngIf="loadedUsers.length < 1 && !isLoading">
    <h4>No User is available</h4>
  </div>
  <div *ngIf="isLoading">
    <h4>Loading data....</h4>
  </div>
  <div *ngIf="loadedUsers.length >= 1 !isLoading">
    <div class="form-group">

        <input  (keyup)="applyFilter($event)" placeholder="Filter">
  </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Score</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of loadedUsers">
        <tr>
          <th scope="row">{{user.id}} </th>
          <td>{{ user.name}} </td>
          <td>{{ user.age }} </td>
          <td>{{user.score }} </td>
          <td *ngIf="!checkIfExists(user.name)"> <button class="btn btn-primary"   (click)="addWinner(user.name)" >add winner</button> </td>
          <td *ngIf="checkIfExists(user.name)"> <button disabled class="btn btn-success"   > Winner</button> </td>

        </tr>
      </tbody>
    </table>

     </div>

  </div>
